rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Users can read and write their own profile.
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Tasks can be read, written, and listed only by their owner.
    match /tasks/{taskId} {
      allow read, write: if request.auth != null && request.resource.data.ownerId == request.auth.uid;
      allow list: if request.auth != null && request.query.where.path == "ownerId" && request.query.where.op == "==" && request.query.where.value == request.auth.uid;
    }

    // Team-related rules
    match /teams/{teamId} {
      // Allow read/write access to team members
      allow read, write: if request.auth != null && request.auth.uid in resource.data.members;
      
      // Allow creation if the creator is a member
      allow create: if request.auth != null && request.auth.uid in request.resource.data.members;

      // Allow listing of teams only for the user who is a member.
      allow list: if request.auth != null && request.query.where.path == "members" && request.query.where.op == "array-contains" && request.query.where.value == request.auth.uid;
    }

    // Notes can only be read/written by their owner
     match /notes/{noteId} {
      allow read, write: if request.auth != null && request.resource.data.ownerId == request.auth.uid;
      allow list: if request.auth != null && request.query.where.path == "ownerId" && request.query.where.op == "==" && request.query.where.value == request.auth.uid;
    }
  }
}
