rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // ANY authenticated user can read/write ANY document in the database.
    // This is very open, but prevents the 'Missing or insufficient permissions'
    // errors you are currently seeing for lists/queries.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
